/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

section {
    padding: 20px;
    text-align: center;
}

/* Slider */
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 500%;
    animation: slide 15s infinite;
}

.slides img {
    width: 100%;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-33.3333%); }
    66% { transform: translateX(-66.6666%); }
    100% { transform: translateX(0);}
}


/* Secciones */
.content {
    padding: 2rem;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.product-item {
    background-color: white;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 289px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    max-width: 100%;
    border-radius: 5px;
}

.product-item h3 {
    color: #ff6b6b;
    margin: 1rem 0 0.5rem;
}

.product-item p {
    line-height: 1.4;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    margin: 0 10px;
}

footer img {
    width: 30px;
    height: 30px;
}

